<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saiyan Slice</title>

    <!-- Link to javascript -->
     <Script src="js/pizza.js" defer></Script>

    <!-- Favicon -->
    <link rel="icon" href="images/pizza-icon.png" />

    <!-- Link Stylesheet -->
    <link rel="stylesheet" href="styles/pizza-styles.css" />
  </head>
  <body>
    <main>
      <header>
        <img src="images/dragonball-pizza.jpg" alt="poppa" />
        <h1>Saiyan Slice</h1>
        <p id="tagline">The best pizza GRC students have ever tasted</p>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, ad
          dicta veniam laudantium incidunt nihil maiores culpa similique nisi
          facere iste voluptate ipsa repellendus enim officiis. Veniam maxime
          vel consequuntur!
        </p>
        <a id="contact-button" href="#" role="button">Contact Us</a>
      </header>
      <h1>Thank you for your order!</h1>  
    <main>
</body>
</html>
