<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saiyan Slice</title>

    <!-- Link to javascript -->
     <Script src="js/pizza.js" defer></Script>

    <!-- Favicon -->
    <link rel="icon" href="images/pizza-icon.png" />

    <!-- Link Stylesheet -->
    <link rel="stylesheet" href="styles/pizza-styles.css" />
  </head>
  <body>
    <main>
      <header>
        <img src="images/dragonball-pizza.jpg" alt="poppa" />
        <h1>Saiyan Slice</h1>
        <p id="tagline">The best pizza GRC students have ever tasted</p>
        <hr />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, ad
          dicta veniam laudantium incidunt nihil maiores culpa similique nisi
          facere iste voluptate ipsa repellendus enim officiis. Veniam maxime
          vel consequuntur!
        </p>
        <a id="contact-button" href="/contact-us" role="button">Contact Us</a>
      </header>
      <% if (errors) { %>
          <ul>
            <% errors.forEach(error => { %>
                <li><%= error %></li>
            <% }); %>
          </ul>
      <% } %>  
      <form id="pizza-form" action="submit-order" method="post">
        <!-- Contact Info -->
        <fieldset>
          <legend>Contact Info</legend>
          <span id="err-fname" class="error">FName cannot be empty!</span>
          <label for="fname">First Name:</label>
          <input type="text" id="fname" name="fname" />
          <span id="err-lname" class="error">LName cannot be empty!</span>
          <label for="lname">LastName:</label>
          <input type="text" id="lname" name="lname" />
          <span id="err-email" class="error">email cannot be empty!</span>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" />
        </fieldset>

        <fieldset>
          <legend>Select Pickup or Delivery</legend>
          <label for="pickup">
            <input
              type="radio"
              id="pickup"
              name="method"
              value="pickup"
            />Pickup
          </label>
          <label for="delivery">
            <input
              type="radio"
              id="delivery"
              name="method"
              value="delivery"
            />Delivery
          </label>
        </fieldset>

        <!-- Toppings -->
            <fieldset>
                <legend>Select Toppings</legend>
                <label for="pepperoni">
                    <input type="checkbox" id="pepperoni" name="toppings[]"
                           value="pepperoni">Pepperoni
                </label>
                <label for="pineapple">
                    <input type="checkbox" id="pineapple" name="toppings[]"
                           value="pineapple">Pineapple
                </label>
            </fieldset>

            <!-- Pizza Size -->
            <fieldset>
                <legend>Pizza Size</legend>
                <select id="size" name="size">
                    <option value="none">-- Select a Size --</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
            </fieldset>

            <!-- Add an Order button -->
            <button type="submit">Place Order</button>
        </form>  
    <main>
</body>
</html>
